* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: rgb(84, 84, 84);
  }

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: transparent;
    backdrop-filter: blur(20px) saturate(160%);
  }

header .logo {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;